@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font: 1.5rem;
}

main {
  width: 50%;
  margin: auto;
}
main > * {
  width: 100%;
  margin: auto;
}

header {
  text-align: center;
  margin: 2rem 0;
}
.subTitle {
  text-align: center;
  padding: 7px;
  background-color: #fdfbf1;
  border-top: 1px solid #ffd877;
  font-size: 1.2rem;
  color: #127878;
}
.maiusc {
  text-transform: uppercase;
  font-weight: 700;
}

main h1 {
  font-size: 2.5rem;
  margin: 2rem 0;
}
figure {
  width: 100%;
  margin: 2rem 0;
}
figure figcaption {
  text-align: center;
  margin-top: 0.5rem;
  color: rgba(0, 0, 0, 0.37);
}
figure img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.sectionTitle {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #cffcfc;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

aside {
  color: #b54711;
  padding-left: 1rem;
  border-left: 1px solid #ffd877;
}
aside a {
  text-transform: capitalize;
  font-size: 1.2rem;
}
a {
  color: #127878;
}

.method,
.ingredients {
  font-size: 1.5rem;
  margin-top: 2rem;
}

.sectionTitle {
  margin-bottom: 2rem;
}
