@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
}

main {
  width: 50%;
  margin: auto;
}

main > * {
  width: 100%;
  margin: auto;
}

header,
main h1,
.subTitle,
figure figcaption {
  text-align: center;
}

header {
  margin: 1rem 0;
}

.subTitle {
  padding: 1px;
  background-color: #fdfbf1;
  border-top: 1px solid #ffd877;
  font-size: 1.2rem;
  color: #127878;
}

.maiusc {
  text-transform: uppercase;
  font-weight: 700;
}

main h1 {
  font-size: 3rem;
  margin: 2rem 0;
}

.h1subTitle {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

figure {
  width: 100%;
  margin: 2rem 0;
}

figure img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

video {
  border-radius: 10px;
  object-fit: cover;
}

figure figcaption {
  margin-top: 0.5rem;
  color: rgba(0, 0, 0, 0.37);
}

.sectionTitle {
  font-size: 2rem;
  margin: 2rem 0 1rem;
  padding: 1rem 0;
  border-bottom: 1px solid #cffcfc;
}

aside {
  color: #b54711;
  padding-left: 1rem;
  border-left: 1px solid #ffd877;
}

a {
  color: #127878;
}

aside a {
  text-transform: capitalize;
  font-size: 1.2rem;
}

.method,
.ingredients {
  font-size: 1.2em;
  margin-top: 2rem;
  line-height: 1.4;
}
